@code_font: "Droid Sans Mono", Courier New, monospace;
* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  
  font-size: 15px;
  
  line-height: 20px;
  text-align: left;
}

#main ul {
  margin: 10px;
}

#main li {
  list-style-type: square;

  font-size: 15px;
  
  line-height: 20px;
}
#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}
code {
    font-family: @code_font !important;
    font-size: 9pt;
    #background-color: #eeeeee;
    #border: 1px solid #CC6600;
}
.simple {
}
pre code {
    margin: 0;
    padding: 0;
    display: block;
    #max-width: 590px;
    overflow: visible;
}
pre {
    font-family: @code_font !important;
    font-size: 9pt;
    line-height: 1.4em;
    
    color: #222;
    border: 1px solid #f7a600;
    background-color: #fefef1;
    
    display: table;
    margin: 10px 20px 20px;
    padding: 10px 16px;
    
    border-left-width: 5px;
    border-left-style: solid;
    border-bottom-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    -o-border-bottom-right-radius: 12px;
    
    .shadow(2px, 3px, 5px, #ccc);
    
    overflow: hidden;
}